* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  font-size: 36px;
  text-align: center;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 15vh;
}

#navbar .logo {
  font-size: 2rem;
  width: 40%;
}

#navbar h1 a {
  color: orange;
}

#navbar ul {
  list-style: none;
  display: flex;